:root {
  /**
    |============================
    | Color text
    |============================
  */
  /* SLATE */
  --main-color-text: #434455;
  /* NAVY BLUE */
  --title-text-color: #2e2f42;
  /* IRIS */
  --btn-color: #4d5ae5;
  /* CLOUD */
  --footer-text: #f4f4fd;
  /* Withe */
  --withe-text-color: #ffffff;
  /**
  
    |============================
    | Color background
    |============================
  */
  /* Основний фон */
  --withe-color: #ffffff;
  /* NAVY BLUE */
  --bgr-navy-blue: #2e2f42;
  /* CLOUD */
  --bgr-cloud: #f4f4fd;
  /* IRIS */
  --bgr-btn-color: #4d5ae5;
  /* OCEAN - стан при натисненні*/
  --pressed-state-color: #404bbf;
  /* Колір лініі в хедері cornflower */
  --cornflower: #e7e9fc;
  /* LIGHT SLATE */
  --light-slate: #8e8f99;
  /* GREEN */
  --green: #31d0aa;
  /* Dairy */
  --dairy: #fcfcfc;
  /**
    |============================
    | Others
    |============================
  */
  --indent: 24px;
  --indent-b: 48px;
  --items: 3;
  --items-b: 4;
  --items-c: 6;
}

body {
  /* text */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* color */
  background-color: var(--withe-color);
  color: var(--main-color-text);
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Скидання заданих стандартних выдступів для картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Прибирання підчеркування*/
.link {
  text-decoration: none;
}
/* Прибирання точок */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Приховувуємо елемент */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* reset end */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/**
  |============ ================
  | Header Logo
  |============================
*/
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-page {
  display: flex;
  align-items: center;
}
.nav-page {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--btn-color);
}

.logo-dark {
  color: var(--title-text-color);
}
.logo-light {
  color: var(--footer-text);
}
/**
  |============================
  | Header Menu
  |============================
*/
.menu {
  display: flex;
  gap: 40px;
}

.menu-header {
  position: relative;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.menu-header::after {
  content: "";

  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-header.activ {
  color: var(--pressed-state-color);
}
.menu-header.activ::after {
  background-color: var(--pressed-state-color);
}

.menu .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .link:hover,
.menu .link:focus {
  color: var(--pressed-state-color);
}
/**
  |============================
  | Header address 
  |============================
*/
/* Прибирання курсиву */
.address {
  font-style: normal;
}
.address.list {
  display: flex;
  gap: 40px;
}

.address .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--main-color-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list .link:hover,
.list .link:focus {
  color: var(--pressed-state-color);
}
/**
  |============================
  | Section hero  index.html
  |============================
*/
.hero {
  padding: 188px 0;

  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hw-04/people-office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bgr-navy-blue);
}

.hero-title {
  margin: auto;
  margin-bottom: 48px;
  max-width: 496px;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--withe-text-color);
}

.hero-btn {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  background-color: var(--bgr-btn-color);
  color: var(--withe-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state-color);
}
/**
  |============================
  |     Modal window
  |============================
*/
.background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.background.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 576px;
  padding: 24px;

  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;

  width: 24px;
  height: 24px;

  color: var(--bgr-navy-blue);
  background-color: var(--cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--withe-color);
  background-color: var(--pressed-state-color);
}

/**
  |============================
  | Section 2 index.html
  |============================
*/
.feature-list {
  display: flex;
  gap: var(--indent);
}
.functions {
  width: calc((100% - (var(--indent) * (var(--items-b) - 1))) / var(--items-b));
}
.functions-ikon {
  display: flex;
  content: "";
  height: 112px;
  margin-bottom: 8px;

  justify-content: center;
  align-items: center;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bgr-cloud);
  border-radius: 4px;
}

.section-heading {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
/**
  |============================
  | Section 3 index.html
  |============================
*/
.section-three {
  padding-bottom: 120px;
}
.section-subject {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-text-color);
}
.section-image {
  display: flex;
  gap: var(--indent);
}
/**
  |============================
  | Section 4 index.html
  |============================
*/
.sections-page {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--bgr-cloud);
}
.section-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.1;
  /* line-height: 1.11; */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-text-color);
}
.sections-list {
  display: flex;
  gap: var(--indent);

  text-align: center;
}
.items {
  background-color: var(--withe-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-position {
  padding: 32px 0;
}

.section-text-position {
  margin-bottom: 8px;
}

/* ------Ikon------ */
.social-list {
  display: flex;
  justify-content: center;

  gap: var(--indent);
}

.social-list-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var(--bgr-btn-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state-color);
}
.social-ikon {
  fill: var(--footer-text);
}

/**
  |============================
  |    Section 5 
  |============================
*/
.customers-list {
  display: flex;
  justify-content: center;

  gap: var(--indent);
}

.client-item {
  width: calc((100% - (var(--indent) * (var(--items-c) - 1))) / var(--items-c));
  height: 88px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--light-slate);
  border-radius: 4px;

  color: var(--light-slate);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--pressed-state-color);
}
.client-ikon {
  fill: currentColor;
}

/**
  |============================
  | Section portfolio.html
  |============================
*/
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-navigation {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: var(--indent);
}
.btn {
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;

  background-color: var(--bgr-cloud);
  color: var(--btn-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  background-color: var(--pressed-state-color);
  color: var(--withe-text-color);
}

/**
  |============================
  | Card set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent-b) var(--indent);
}

.card-set-item {
  width: calc((100% - (var(--indent) * (var(--items) - 1))) / var(--items));
}
.card-set-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set-link:hover,
.card-set-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* -----------------overlay----------------- */
.card-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 32px 164px 32px;

  background-color: var(--bgr-btn-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set-link:hover .overlay,
.card-set-link:focus .overlay {
  transform: translateY(0);
}

/* .card-set-item:hover .overlay {
  transform: translateY(0);
} */
.overlay-text {
  color: var(--footer-text);
}
/* -----------------/overlay----------------- */

.section-text {
  color: var(--main-color-text);
}

.card-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
/**
  |============================
  | Footer
  |============================
*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--bgr-navy-blue);
}

.footer-soc-media {
  display: flex;
  align-items: baseline;
}

.footer-list {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-right: 0;
  padding: 0;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;

  color: var(--footer-text);
}

.footer-social-media {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.social-list.media-footer {
  gap: 16px;
}

.footer-text-social {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--withe-text-color);
}

.social-link.soc-footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link.soc-footer:hover,
.social-link.soc-footer:focus {
  background-color: var(--green);
}
